@inherits LayoutComponentBase
<div class="layout">
    <header>
        <img class="header" src="/img/header-wide.webp" />
        <img class="handheld" src="/img/handheld.webp" />
    </header>
    <div class="page">
        <main>
            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
    <footer>
        <img src="/img/sentry-glyph-light.png" />
    </footer>
</div>